<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rooms_category.name %>
</p>

<%= link_to 'Edit', edit_rooms_category_path(@rooms_category) %> |
<%= link_to 'Back', rooms_categories_path %>
